name: email notifications

on:
  push:
    branches:
      - main  # Set a branch to deploy
  schedule:
    - cron: '0 8,20 * * *' # At the start of 08:00 and 20:00

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6 # checkout current repo

      - uses: actions/checkout@v6 # checkout upstream to get `md2html.py`
        with:
          repository: rogeryoungh/github-action-rss
          path: ga-rss

      - uses: actions/setup-python@v6
        with:
          python-version: '3.9'
          cache: 'pip' # caching pip dependencies

      - run: |
          wget https://github.com/rogeryoungh/github-action-rss/releases/download/latest/github-action-rss
          chmod +x ./github-action-rss
          mkdir -p ./ga-rss/build
          ./github-action-rss ./feed.opml ./ga-rss/build/
          pip install -r ./ga-rss/requirements.txt
          cd ga-rss && python3 ./scripts/md2html.py "https://rogeryoungh.github.io/self-github-action-rss"

      - name: Send mail
        uses: dawidd6/action-send-mail@v6
        with:
          server_address: '${{ secrets.MAIL_HOST }}'
          server_port: 465
          username: '${{ secrets.MAIL_USER }}'
          password: '${{ secrets.MAIL_PASS }}'
          subject: GitHub Action RSS
          html_body: file://ga-rss/build/index.html
          to: '${{ secrets.RECEIVERS }}'
          from: GitHub Actions

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./ga-rss/build
